@import "tailwindcss";
@plugin "daisyui" {
  themes: all;
}

body {
  padding-top: 60px; /* Adjust based on your header's height */
  padding-bottom: 60px; /* Adjust based on your footer's height */
}

.card:hover {
  transform: scale(1.1); /* Increase size by 20% on hover */
  transition: transform 0.5s ease-in-out; /* Smooth transition for transform over 0.5 seconds */
  z-index: 10;
}
.title-text {
  font-weight: bold;
  background-image: linear-gradient(to right, #5c3668, #ffffff);
  background-clip: text;
  -webkit-background-clip: text; /* Vendor prefix for broader compatibility */

  /* Make the text color transparent so the background is visible */
  color: transparent;
  -webkit-text-fill-color: transparent; /* Vendor prefix for broader compatibility */
}

.subtitle-text {
  font-weight: bold;
  background-image: linear-gradient(to right, #b5eb13, #950b0b);
  background-clip: text;
  -webkit-background-clip: text; /* Vendor prefix for broader compatibility */

  /* Make the text color transparent so the background is visible */
  color: transparent;
  -webkit-text-fill-color: transparent; /* Vendor prefix for broader compatibility */
}
.content {
  flex-grow: 1; /* Allows content to take up remaining space */
  padding: 20px;
  /* Add enough content to make it scrollable */
}
.slick-slide > div {
  margin: 0 10px;
}

.carousel-container {
  width: 100%;
  overflow: hidden;
  position: relative;
}

.carousel-track {
  display: flex;
  white-space: nowrap; /* Prevents cards from wrapping */
  animation: slide-left 100s linear infinite; /* Adjust duration as needed */
}

.carousel-card {
  flex: 0 0 auto; /* Prevents cards from shrinking */
  padding: 1em; /* Spacing between cards */
}

@keyframes slide-left {
  0% {
    transform: translateX(0);
  }
  100% {
    /* Translate by the width of the original set of cards */
    transform: translateX(-50%);
  }
}
/* From Uiverse.io by Botwe-Felix5820 */
button {
  height: 3em;
  width: 8em;
  border: none;
  border-radius: 10em;
  background: #708ca7;
  font-size: 17px;
  color: #ffffff;
  font-family: inherit;
  font-weight: 500;
}

button:hover {
  animation: shake3856 0.3s linear infinite both;
  background: #cd7f51;
}

@keyframes shake3856 {
  0% {
    -webkit-transform: translate(0);
    transform: translate(0);
  }

  20% {
    -webkit-transform: translate(-2px, 2px);
    transform: translate(-2px, 2px);
  }

  40% {
    -webkit-transform: translate(-2px, -2px);
    transform: translate(-2px, -2px);
  }

  60% {
    -webkit-transform: translate(2px, 2px);
    transform: translate(2px, 2px);
  }

  80% {
    -webkit-transform: translate(2px, -2px);
    transform: translate(2px, -2px);
  }

  100% {
    -webkit-transform: translate(0);
    transform: translate(0);
  }
}
